<div ng-app="MainApp" class="container">
<div ng-controller="MainController">
  

  <h1>Main</h1>
  {{currentSong.patterns}}
  
  <p ng-repeat="pattern in currentSong.patterns">
    {{pattern.id}}
  </p>

  <select ng-model="currentSong" ng-options="song.title for song in songs">
  </select>

  <button ng-click="togglePlay()"></button>

  <table class="sequencer">
    <tr ng-repeat="pattern in currentSong.patterns" class="pattern">
      <td>{{pattern.id}}</td>
      <td>{{pattern.sample}}</td>
      <td ng-repeat="s in pattern.sequence track by $index" class="step" ng-class="{green: s}" ng-click="toggleStep($parent.$index, $index)"></td>
    </tr>
  </table>

  <button ng-click="updateSong()">Save</button>
</div>
</div>